<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot354.demo.mapper.UserMapper">

    <resultMap id="r_m" type="com.springboot354.demo.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createdTime" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 自定义 SQL -->
    <!--<select id="selectUsersByAgeRange" resultType="com.example.demo.entity.User">-->
    <!--    SELECT *-->
    <!--    FROM user-->
    <!--    WHERE age BETWEEN #{minAge} AND #{maxAge}-->
    <!--</select>-->

</mapper>
