<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="/data/app/sso/log"/>
    <property name="LOG_FILE_NAME" value="info"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] - [%-5level] [%logger{50}:%line] - %msg%n"/>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!--    <logger name="com" level="info"/>-->

    <root level="INFO">
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>