<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        #err-msg {
            display: none;
        }
    </style>
</head>
<body>
<div id="main">
    <form action="" class="form">
        <div class="form-head">
            <h2>登录</h2>
        </div>
        <div class="form-body">
            <p id="err-msg" class="err-msg">账号不存在</p>
            <div class="ui-input">
                <input class="abc" type="text" id="usernameText" placeholder="手机号或邮箱">
            </div>
            <div class="ui-input">
                <input type="password" id="passwordText" placeholder="密码">
            </div>
            <p class="forget-password">
                <a href="/forget">忘记密码？</a>
            </p>
            <button type="button" id="button" class="ui-button ui-button--success">登录</button>
        </div>
        <div class="form-head">
            <p>还没有账号？<a href="/register">立即注册</a></p>
        </div>
    </form>
</div>
<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<!--<script src="js/script.js"></script>-->
<script>
    // 定时器
    var timer = 1;
    var second = 1;

    $(document).keyup(function (e) {
        if (e.keyCode == 13)
            $("#button").trigger("click");
    });

    $(function () {

    });

    $("#button").click(function () {
        if ($("#button").hasClass('ui-button--success')) {
            // 可以点击
            login();
        }
    });

    var login = function () {
        $("#button").removeClass('ui-button--success');
        $("#button").addClass('ui-button--primary');
		$("#button").text("登录中（1s）");
        second = 2;
        timer = setInterval(function () {
            $("#button").text("登录中（" + second++ + "s）");
        }, 1000);

        let username = $("#usernameText").val();
        let password = $("#passwordText").val();
        $.ajax({
            type: "post",
            url: "/login",
            data: {
                username: username,
                password: password,
                token: "token"
            },
            dataType: "json",
            success: function (res) {
                console.info(res)
                if (res && res.success) {
                    console.log(res.message);
                    var returnURL = getQueryString("returnURL");
                    if (returnURL) {
                        window.location.href = decodeURIComponent(returnURL)
                    }
					loginSuccess()
                } else {
                    alert(res.message);
					loginFail()
                }
            },
            fail: function (error) {
				loginFail()
            }
        })
    }

    var loginSuccess = function () {
        clearInterval(timer)
    }

    var loginFail = function () {
        clearInterval(timer)
        $("#button").removeClass('ui-button--primary');
        $("#button").addClass('ui-button--success');
        $("#button").text("登录");
    }

    //根据参数名获取对应的url参数
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
</script>
</body>
</html>