<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        #err-msg {
            display: none;
        }
    </style>
</head>
<body>
<div id="main">
    <form action="" class="form">
        <div class="form-head">
            <h2>新用户注册</h2>
            <p>已有账号？<a href="/index">立即登录</a></p>
        </div>
        <div class="form-body">
            <p id="err-msg" class="err-msg">手机号不可用</p>
            <div class="ui-input">
                <input type="text" id="username" placeholder="用户名">
            </div>
            <!--<div class="ui-input narrow-input">
                <input type="text" placeholder="短信验证码">
                <a class="sms-button" href="javascript:">获取验证码</a>
            </div>-->
            <div class="ui-input">
                <input type="password" id="password" placeholder="密码，6-16位，区分大小写">
            </div>
            <div class="ui-input">
                <input type="password" id="password2" placeholder="重复密码">
            </div>
            <div class="ui-input narrow-input">
                <input type="text" id="verify" placeholder="图片验证码">
                <img class="captcha" src="/validateCode" alt="">
            </div>
            <button type="button" id="button" class="ui-button ui-button--primary">登录</button>
        </div>
    </form>
</div>
<script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="js/script.js"></script>
<script>
	$('.captcha').click(function() {
		reloadCode()
	})

	$("#button").click(function() {
		var username = $.trim($("#username").val());
		// var nickname = $.trim($("#nickname").val());
		// var email = $.trim($("#email").val());
		var password = $.trim($("#password").val());
		var password2 = $.trim($("#password2").val());
		var verify = $.trim($("#verify").val());

		if (username == '') {
			alert("用户名不能为空")
			// layer.msg('用户名不能为空！', {shade:0.05, time:1000})
			$("#username").focus();
			return;
		}

		if (password == '') {
			alert('密码不能为空'); $("#password").focus(); return;
		}

		// 密码格式验证
		var pwd = /^(\w){6,20}$/;
		if (!pwd.test(password)){
			alert('密码只能为6到20个字母、数字、下划线的组合！')
			return false;
		}

		if (password2 == ''){
			alert('重复密码不能为空')
			$("#password1").focus();
			return;
		}
		if (password2 !== password){
			alert('两次输入的密码必须一致')
			return false;
		}

		if (verify == '') {
			alert('验证码不能为空')
			$("#verify").focus();
			return;
		}

		$.ajax({
			type: "post",
			url: "/signup",
			data: {
				username: username,
				password: password,
				password2: password2,
				code: verify
			},
			dataType: "json",
			success: function (res) {
				console.info(res)
				if(res && res.success){
					alert(res.message);
					window.location.href = "/"
				}else{
					reloadCode();
					$("#verify").val("");
					$("#verify").focus();
					alert(res.message);
				}
			},
			error:function(xhr,errorText,errorType){
				$("#verify").val("");
				reloadCode();
			}
		})

	})

	var reloadCode = function() {
		$(".captcha").attr('src', '/validateCode?t=_' + new Date().getTime());
	};
</script>
</body>
</html>